<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class='imgSmall' src="/images/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/userconf">Perfil</a>
                </li>
                <li class="nav-tiem">
                    <a class="nav-link" href="/paneladmin">Panel</a>
                </li>
                <li class="nav-tiem">
                    <a class="nav-link" href="/paneladmin/productos">Productos</a>
                </li>
                <li class="nav-tiem">
                    <a class="nav-link active" href="/kitchen">Cocina</a>
                <li class="nav-tiem">
                    <a href="/login/logout" class="nav-link">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12 text-center" >
            <h1 class="h2">{{title}}</h1>
            <p style="color: red; font-size: 70px"><i class="fab fa-free-code-camp"></i>
            <i class="fab fa-free-code-camp"></i>
            <i class="fab fa-free-code-camp"></i></p>
        </div>
    </div>

    <div class="row justify-content-around mt-3">
        {{#each OrderList}}
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card mt-5 bg-dark text-white">
            <div class="card-body text-center">
                <h5 class="card-title">Order # {{OrderNo}}</h5>
                <table class="table table-center text-white">
                    <thead class="text-center">
                        <tr>
                            <th>Items</th>
                            <th>Cantidad</th>
                            <th>Comentarios</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {{#each OrderProd}}
                        <tr>
                            <td>{{Nombre}}</td>
                            <td>{{canti}}</td>
                            <td>{{comentario}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <a href="/paneladmin/checkit/{{OrderNo}}/2/2" class="btn btn-light btn-block">Ready!</a>
            </div>
        </div>

        </div>
        {{/each}}

    </div>
</div>
